/* theme: black */

$background: #1b1b1b;

$intent-background: #2a2a2a;

$control-panel-background: #393939;

$control-panel-elements: #858585;

$elements-background: #3f3f3f;

/* common */

$brand: #fdd549;

$pirple: #688de2;

$salad: #61c294;

$potato: #da714f;

/* fonts */
$text-primary: #1b1b1b;

$text-brand: #fdd549;

$text-light: #fff;

$text-secondary: #858585;

/* system */

$alert: #ff5e33;
